In [1]:
#!pip install -U pyTigerGraph

In [2]:
# Imports
import pyTigerGraph as tg
import json
import pandas as pd
import os

Read data from FET File

In [3]:
# Connection parameters
hostName = "https://8b63e18824d24d80b8579495e8bdaf13.i.tgcloud.io"
userName = "user_1"
password = "Preetha_021"

In [4]:
graph_name = 'FET_New1'

In [5]:
conn = tg.TigerGraphConnection(host=hostName, username=userName, password=password,graphname=graph_name)

In [6]:
conn.gsql("LS")

/Users/s/anaconda3/lib/python3.10/site-packages/pyTigerDriver/pyDriver.py:205: DeprecationWarning: ssl.PROTOCOL_TLS is deprecated
  self._context = ssl.SSLContext(ssl.PROTOCOL_SSLv23)

'---- Global vertices, edges, and all graphs\nVertex Types:\nEdge Types:\n\nGraphs:\n- Graph Person(Application:v, Inventor:v, has_inventor:e)\n- Graph FET_Graph(text:v, belownode:v, sidenode:v, sideedge:e, reverse_sideedge:e, sidetotext:e, reverse_sidetotext:e, belowedge:e, reverse_belowedge:e, belowtotext:e)\n- Graph imdb(Movie:v, Actor:v, Director:v, actor_movie:e, director_movie:e, movie_actor:e, movie_director:e)\n- Graph FET_New1(Text:v, side_node_edge:e, down_node_egde:e)\nJobs:\n\n\nJSON API version: v2\nSyntax version: v2\n'

In [7]:
secret = conn.createSecret()

In [8]:
authToken = conn.getToken(secret)[0]

In [9]:
conn.getVertexCount("*")

{'Text': 40}

In [10]:
vertices = conn.getVertexTypes()
total_count = 0
for vertex in vertices:
    vertex_cnt = conn.getVertexCount(vertex)
    total_count += vertex_cnt
    print("Node count: ({} : {}) ".format(vertex, vertex_cnt))
print("Total node count: ", total_count)

Node count: (Text : 40)
Total node count:  40

In [11]:
import pandas as pd

tom = conn.getVerticesById("Text", "1")

pd.json_normalize(tom)

  v_id v_type  attributes.id attributes.value
0    1   Text              1          Siva&Co

In [12]:
sideedge = conn.getEdges("Text", "1", "side_node_edge")

pd.json_normalize(sideedge)

,e_type,directed,from_id,from_type,to_id,to_type,attributes.id,attributes.value
0,side_node_edge,False,1,Text,11,Text,1,Invoice date

In [13]:
downedge = conn.getEdges("Text", "11", "down_node_egde")

pd.json_normalize(downedge).sort_values(by='attributes.id')

,e_type,directed,from_id,from_type,to_id,to_type,attributes.id,attributes.value
1,down_node_egde,False,11,Text,10,Text,10,Invoice date
0,down_node_egde,False,11,Text,12,Text,11,2021-11-30 00:00:00

In [14]:
downedge = conn.getEdges("Text", "11", "down_node_egde",select="value")

pd.json_normalize(downedge)

,e_type,directed,from_id,from_type,to_id,to_type,attributes.value
0,down_node_egde,False,11,Text,12,Text,2021-11-30 00:00:00
1,down_node_egde,False,11,Text,10,Text,Invoice date